{% extends 'admin/model/list.html' %} 
{% block body %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <h2>Tickets</h2> 
    {{ super() }} 
{% endblock %}

{% block list_header scoped %}
    {{ super() }}
    <th class="column-header">
        Operation
    </th>
{% endblock %}

{% block list_row scoped %}
    {% if actions %}
    <td>
        <input type="checkbox" name="rowid" class="action-checkbox" value="{{ get_pk_value(row) }}" title="{{ _gettext('Select record') }}" />
    </td>
    {% endif %}
    
    {% block list_row_actions_column scoped %}
        {% if admin_view.column_display_actions %}
        <td class="list-buttons-column">
        {%  if admin_view.is_pending(row) == True %}
        {% block list_row_actions scoped %}
            {% for action in list_row_actions %}
                {{ action.render_ctx(get_pk_value(row), row) }}
            {% endfor %}
        {% endblock %}
        {% endif %}
        </td>
        {%- endif -%}
    {% endblock %}
    
    {% for c, name in list_columns %}
        <td class="col-{{c}}">
        {% if admin_view.is_editable(c) %}
            {% set form = list_forms[get_pk_value(row)] %}
            {% if form.csrf_token %}
                {{ form[c](pk=get_pk_value(row), display_value=get_value(row, c), csrf=form.csrf_token._value()) }}
            {% else %}
                {{ form[c](pk=get_pk_value(row), display_value=get_value(row, c)) }}
            {% endif %}
        {% else %}
            {{ get_value(row, c) }}
        {% endif %}
        </td>
    {% endfor %}
    
    <td> 
        {% if admin_view.is_pending(row) == True %}
        <input class="btn" value="{{ _gettext('Submit') }}" type="submit" onclick="post('/admin/ticket/submit', {'id': {{ get_pk_value(row) }} })"/>
        {% endif %}
    </td>
{% endblock %}
