{% extends 'admin/model/list.html' %} 
{% block body %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {{ super() }} 
{% endblock %}

{% block list_header scoped %}
    {{ super() }}
    <th class="column-header">
        操作
    </th>
{% endblock %}

{% block list_row scoped %}
    {{ super() }}
    <td> 
        {% if admin_view.is_submit(row) == True %}
        <input class="btn" value="批准" type="submit" onclick="post('/admin/approval/approve', {'id': {{ get_pk_value(row) }} })"/>
        <input class="btn" value="驳回" type="submit" onclick="post('/admin/approval/reject', {'id': {{ get_pk_value(row) }} })"/>
        {% endif %}
    </td>
{% endblock %}
